/*///////////////////////////////////////*//*
			 _____  _____ _____ 
			/  __ \/  ___/  ___|
			| /  \/\ `--.\ `--. 
			| |     `--. \`--. \
			| \__/\/\__/ /\__/ /
			 \____/\____/\____/ 
                    
*//*///////////////////////////////////////*/

/* CoolColors
#f9f9f9
#edf3f9
#262626
#9a9a9a
*/

:root{
	--bgColor: #262626;
	--fontColor: #9a9a9a;
}

*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth !important;
}

body{
	background: var(--bgColor);
	min-height: 100vh;
}

/*/////////=CSS=///////////*/

#menu{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	padding: 1vw 0;
	background: #262626;
	text-transform: uppercase;
	font-size: 1.6vw;
	color: var(--fontColor);
	box-shadow: .2vw 0 1vw rgba(0,0,0, 50%);
}

.items a:nth-child(-n+2){
	margin-right: 3vw;
}

.links{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: var(--fontColor);
	transition: .3s
}

.links:hover{
	color: #fff;
	transform: scale(1.15);
}


#bgImage{
	background-image: url(../img/img01.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 35vw;
}

.gradient{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0,0,0, 80%), rgba(0,0,0, 20%));
	color: #fff;
}

.title, .subtitle{
	margin-left: 10vw;
}

.subtitle{
	color: #aaa;
	font-size: 1.2vw;
	text-transform: capitalize;
	animation: dropdownSubtitle 3s 0s;
	position: relative;
	overflow: hidden;
	transition: 1s;
	margin-top: 1.4vw;
}

.gradient hr{
	display: none;
	position: absolute;
	left: 10vw;
	width: 0;
	animation:
		linha 3s ease-in-out 0s;
}

.line{
	display: block;
	font-family: monospace;
	text-transform: lowercase;
   	font-size: 5vw;
    text-align: center;
    border-right: solid 2px rgba(255,255,255,0.7);
    white-space: nowrap;
    overflow: hidden;
    height: 2.1ch;
    margin-bottom: 0.6vw;
    width: 0;
    animation:
    	digitando 3s steps(19) 2s,
    	cursor 1000ms steps(19) infinite;
}

@keyframes digitando {
    0%{
    	width: 0;
    }
    100%{
    	width: 19ch;
	}
}
@keyframes cursor {
    0%{
    	border-right-color: rgba(255,255,255,0.7);
    }
    100%{
    	border-right-color: transparent;
    }
}
@keyframes dropdownSubtitle{
	0%{
		top: -20%;
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		top: 0%;
		opacity: 1;
	}
}
@keyframes linha{
	0%{
		width: 0;
	}
	100%{
		width: 52.2vw;
	}
}


#content{
	height: 100%;
	box-shadow: 0 -1vw 4vw rgba(0,0,0, 20%);
}


#section1{
	width: 100%;
	padding: 4vw 12vw;
	color: #aaa;
	background: #202020;
	font-size: 1.6vw;
}

#section1 hr{
	margin-top: .2rem;
	margin-bottom: 0.8em;
}

#section2{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 4vw 2vw;
	background: #323232;
}

#section2 h1{
	text-align: center;
	margin-bottom: 4vw;
	color: #eee;
	font-size: 3.6vw;
}

#section2 button{
	cursor: pointer;
	margin: 6vw auto;
	padding: 1vw 4vw;
	color: white;
	background: #00BC8B;
	font-size: 2vw;
	outline: none;
	border: none;
	border-radius: 1.8vw;
	text-align: center;
	transition: .3s;
	box-shadow: .3vw .3vw .8vw rgba(0,0,0, 40%);
}

#section2 button:hover{
	background: #00AE81;
	transform: scale(1.08);
	box-shadow: 0 0.5vw .8vw -0.4vw rgba(0,175,150, 100%);
	transform: translateY(-0.5vw);
}

#section2 button:active{
	background: #56C396;
	transform: scale(.98);
	box-shadow: none;
}

.sla{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3vw;
}

.box{
	position: relative;
	background: #545454;
	width: 26vw;
	height: 22vw;
	border-radius: 2vw;
	overflow: hidden;
	box-shadow: .3vw .3vw .8vw rgba(0,0,0, 10%);
}

.icon{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: tomato;
	transition: .4s;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.box:hover .icon{
	top: 1.4vw;
	left: calc(50% - 4vw);
	width: 8vw;
	height: 8vw;
	border-radius: 100%;
	box-shadow: .3vw .3vw .8vw rgba(0,0,0, 30%);
}

.icon ion-icon{
	font-size: 6vw;
	color: #fff;
	transition: .3s
}

.box:hover .icon ion-icon{
	font-size: 3vw;
}

.inside{
	position: relative;
	padding: 2vw;
	color: #fff;
	text-align: center;
	margin-top: 8vw;
	z-index: 1;
	transform: scale(0);
	transition: .5s;
	transition-delay: 0s;
}

.box:hover .inside{
	transform: scale(1);
	transition-delay: .2s;
}

.inside h2{
	text-transform: capitalize;
	font-size: 1.5vw;
	margin-top: 1vw;
	margin-bottom: 1.4vw;
}

.inside p{
	padding: 0 2vw;
	font-size: 1vw;
	font-weight: 300;
	line-height: 1em
}

#section2 .vermais{
	margin: 0;
	background: #C651F4;
	margin-top: 1.4vw;
	padding: 1vw 2vw;
	font-size: 1vw;
}

#section2 .vermais:hover{
	background: #BD27D8;
	box-shadow: none;
	transform: scale(1.1);
}

#section2 .vermais:active{
	background: #B558D9;
	box-shadow: .3vw .3vw .8vw rgba(0,0,0, 10%);
	transform: scale(.9);
}

#section2 .disabled{
	font-size: 1.2vw;
	background: tomato;
	text-decoration: line-through;
	transition: .4s;
	transform: scale(1);
}

#section2 .disabled:hover{
	background: #FF4321;
	transform: scale(1);
}

#section2 .shake{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

footer{
	position: relative;
	width: 100%;
	min-height: 10vw;
	padding: 2vw 10vw;
	background: #3586FF;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

footer .icons,
footer .menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1vw 0;
	flex-wrap: wrap;
}

footer .icons li,
footer .menu li{
	list-style: none;
}

footer .icons li a{
	margin: 0 1.4vw;
	font-size: 3vw;
	color: white;
	display: inline-block;
	transition: .5s
}

footer .icons li a:hover{
	color: #aaa;
	transform: translateY(-.4vw);
}

footer .menu li a{
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 1.4vw;
	font-size: 1.6vw;
	color: white;
	display: inline-block;
	transition: .5s
}

footer .menu li a:hover{
	color: #aaa;
}

footer p{
	color: white;
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-size: 1.4vw;
}

footer .wave{
	position: absolute;
	top: -8.5vw;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 9vw;
	background: url(../img/wave.png);
	background-size: 100vw 9vw;
	pointer-events: none;
}

footer .wave#wave1{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animWave 5s linear infinite;
}

@keyframes animWave{
	0%{
		background-position-x: 100vw; 
	}

	100%{
		background-position-x: 0vw; 
	}
}

footer .wave#wave2{
	z-index: 999;
	opacity: .4;
	bottom: 0;
	animation: animWave2 4s linear infinite;
}

@keyframes animWave2{
	0%{
		background-position-x: 0vw; 
	}

	100%{
		background-position-x: 100vw; 
	}
}

footer .wave#wave3{
	z-index: 998;
	opacity: .6;
	bottom: 0;
	animation: animWave 4s linear infinite;
}

footer .wave#wave4{
	z-index: 997;
	opacity: .2;
	bottom: 0;
	animation: animWave2 6s linear infinite;
}

/*////////=CSS=///////////*/


/*////////////////////////////////////////